.vs/
obj/
bin/
/.idea/.idea.WondrousTailsSolver/.idea/.gitignore
/.idea/.idea.WondrousTailsSolver/.idea/.name
/.idea/.idea.WondrousTailsSolver/.idea/encodings.xml
/.idea/.idea.WondrousTailsSolver/.idea/indexLayout.xml
/.idea/.idea.WondrousTailsSolver/.idea/vcs.xml
/WondrousTailsSolver.sln.DotSettings.user
